span {
  color:black;
  font-size: 25;
  font-weight: bold;
}

/* width */
::-webkit-scrollbar {
  background: #343434 !important;
}

 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(70, 70, 70) !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555 !important;
}
